.app-radio-container .img-container{
    margin-right: 10px;
    width: 50px;
    height: 50px;
    background-color: var(--pale-grey);
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.radio-label{
    text-transform: capitalize;
    display: flex;
    align-items: center;
}
.app-radio-group > div{
    display: flex;
    align-items: center;
    margin-right: 30px;
    color: var(--charcoal-grey);
    font-size: 14px;
}
.app-radio-group {
    display: flex;
    flex-wrap: wrap;
}

.membership-item-wrapper 
.app-radio-group  .active{
    width: 55px;
    height: 55px;
    background-color: var(--cloudy-blue);
}
.membership-item-wrapper 
.app-radio-group .active img{
    filter:  brightness(0) invert(1);
}

@media only screen and (max-width: 756px){
    .app-radio-container {
       margin-top: 20px;
    }
    .app-radio-group{
        margin-bottom: 20px;
    }
}